.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;
}

.button__reset:hover {
	background: var(--black, #000000);
	transition: 1s ease;
}

.button__reset:hover div {
	color: white;
	transition: 0.5s ease;
}

.button__apply:hover {
	background: var(--yellow, #ffedab);
	transition: 0.5s ease;
}

.button__apply:active {
	background: var(--gold, #ffc802);
}
